<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getFileIcon>
        <processor patch:instead="*[@type='Sitecore.Pipelines.GetFileIcon.Processors.GetIconFromSystemFileAssociation, Sitecore.Kernel']"
              type="Sitecore.Support.Pipelines.GetFileIcon.Processors.GetIconFromSystemFileAssociation, Sitecore.Support.189979" />
      </getFileIcon>
    </pipelines>
  </sitecore>
</configuration>